version: '3.9'

services:
  app:
    build: .
    container_name : note-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mysql
    volumes:
      - .:/app
    command: npm run dev

  mysql:
    image: mysql:8.0
    container_name : note-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: notes_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql_data: