version: '3.9'

services:
  app:
    build: .
    container_name : note-api
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - mysql
      - redis
    volumes:
      - .:/app
    command: npm run dev

  mysql:
    image: mysql:8.0
    container_name : note-mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: notes_db
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
  
  redis:
    image: redis:7
    container_name: note_redis
    ports:
      - "6379:6379"

volumes:
  mysql-data: